

    article{
        width: 60%;
        margin: auto;
    }

    article > h1{

        font-size: 2rem;    
        text-align: center;
    }

    article>*:not(:first-child){
        width: 90%;
        margin: auto;

    }

    article> #extra_content{

        font-size: 1.3rem;

        text-align: center;
        margin-top: 35px;
    }

    #image_holder{
        margin-top: 10px;
    }
